<?xml version="1.0" encoding="utf-8"?>
<Config>
  <guestKey>10000016</guestKey>
  <unitKey>20000023</unitKey>
  <orderKey>30000017</orderKey>
  <COMMISSION>10</COMMISSION>
  <MailAddress>yourtsimer@gmail.com</MailAddress>
  <MailPassword>Yourtsimer55</MailPassword>
  <OwnerUser>User55</OwnerUser>
  <OwnerPassword>12345</OwnerPassword>
</Config>